<table class="calendar_table mx-auto text-center">
    <tr>
        <th style="border: none"></th>
        <th class="from_to_merged" colspan="30"></th>
    </tr>
    <tr class="table_head_row">
        <th class="table_head_first">{{ 'Sectors'|trans }}</th>
    </tr>
</table>
