.reservation_form{
    font-size: 14px!important;
}


input.reservation_reservation-name{
    font-size: 14px!important;
    height: 16px;
    padding: 10px;
}

input.datepicker_view {
    display: inline-block!important;
    font-size: 14px!important;
    padding-top: 6px!important;
    width: 8em!important;
    height: 1.5em!important;
}

td.disabled {
    background: grey!important;
    opacity: 0.5;
    color: black!important;
}

td.new.day, td.old.day {
    color: black!important;
}

td.active.day {
    background: #20CB71!important;
}


fieldset.form-group {
    margin-bottom: 0!important;
}

.reservation_from {
    padding-top: calc(.375rem + 1px);
}

.reservation_till {
    padding-top: calc(.375rem + 1px);
}

.reservation_from_title{
    font-size: 1.5rem;
}

.radio-input {
    padding-left: 42%;
}

@media only screen and (max-width: 1380px) {
    .reservation_form{
        font-size: 12px!important;
    }

    input.datepicker_view {
        font-size: 14px!important;
        padding-top: 2px;
        width: 10em;
        height: 1em;
    }

    .reserved_from_title {
        padding-top: 0px;
    }
    .reservation_from_title{
        font-size: 1.5rem;
    }
}