<h3>Registracijos Patvirtinimas!</h3>
<br>

Sveiki {{ name }}! Jūs sėkmingai užsiregistravote!
<br>

Prisijungti galite paspaudę nuorodą <a href="{{ url('app_login') }}">Prisijungti</a>.
<br>

Ačiū!
<br>
<br>

<b>Didelės Žuvys Lt</b>
<br>
http://bigfishes.projektai.nfqakademija.lt/
<br>
