{% extends 'base.html.twig' %}

{% block body %}
    <div class="row justify-content-center" style="margin-top: 15%">
        <div class="col-md-4 p-3" style="background-color: #215E72; border-radius: 25px; color: white; opacity: 0.9">
            <div class="h2 text-center">{{ status_code }}</div>
            <div class="h5 text-center">{{ 'The page not found'|trans }}</div>
        </div>
        <div class="col-md-12 p-3 text-center">
            <img class="" src="../images/dissapointed_fish.png">
        </div>
    </div>
{% endblock %}
